@font-face {
    font-family: MetaPro;
    font-weight: normal;
    src: url('/visika/fonts/MetaPro-Book.woff');
}
@font-face {
    font-family: MetaPro;
    font-weight: bold;
    src: url('/visika/fonts/MetaPro-Bold.woff');
}

@font-face {
    font-family: MyriadPro;
    font-weight: normal;
    src: url('/visika/fonts/MyriadPro-Regular.woff');
}
@font-face {
    font-family: MyriadPro;
    font-weight: 600;
    src: url('/visika/fonts/MyriadPro-Semibold.woff');
}
@font-face {
    font-family: 'helveticanowvar';
    src: url('/visika/fonts/helveticanowvar-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_now_varitalic';
    src: url('/visika/fonts/helveticanowvaritalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body, input, select, option {
    font-family: 'MetaPro', Arial, Helvetica !important;
    font-weight: normal;
}

.header .logo {
    background-image: url(/img/logos/ingenics.png);
}

#qrCodeLink {
	display: block!important;
}

::-webkit-input-placeholder { font-family: 'MetaPro';color: #6e6e6e; }
::-moz-placeholder { font-family: 'MetaPro';color: #6e6e6e; } /* firefox 19+ */
:-ms-input-placeholder { font-family: 'MetaPro';color: #6e6e6e; } /* ie */
input:-moz-placeholder { font-family: 'MetaPro';color: #6e6e6e; }
input {
    font-size: 14px;
}

input:focus, select:focus {
    background: #C3D3E2;
}

input:hover, select:hover, input:focus, select:focus {
    box-shadow: 0 0 2px 1px #10508C;
    behavior: url(PIE.htc);
}

input.error, select.error,input.error:focus, select.error:focus,input.error:hover, select.error:hover {
    box-shadow: 0 0 2px 1px #ff0000;
}

input.button {
    background-color: #10508C;
    background-image: -moz-linear-gradient(0deg, #10508C, #C3D3E2);
    background-image: -ms-linear-gradient(0deg, #10508C, #C3D3E2);
    background-image: -o-linear-gradient(0deg, #10508C, #C3D3E2);
    background-image: -webkit-linear-gradient(0deg, #10508C, #C3D3E2);
    background-image: linear-gradient(0deg, #10508C, #C3D3E2);
    border: 1px solid #C3D3E2;
    color: white;
    behavior: url(PIE.htc);
}


#inputs table td .info {
    background-color: #10508C;
}

div.anschrift:hover label {
    background:#C3D3E2;
}

.tabs li.active a {
    font-weight: bold;
    color: #10508C !important;
}

a.link {
    color: #10508C;
    text-decoration: underline;
}

.logout, .custom-bg {
    background: #10508C;
}

.logout, .custom-bg {
    color:#fff;
}

input,select {
    border: solid 1px #ccc;
}